<%- include('partials/head.ejs') %>
<h1>Delete booking for <%=bookings.name %></h1>
<form method="post" action="/booking/removed/<%= bookings._id %>" autocomplete="on" target="_blank">
<input type="hidden" name="id" value="<%= bookings._id %>">
            <button type="submit">Delete Booking</button>
        </form>
<%- include('partials/foot.ejs') %>