<%- include('partials/head.ejs') %>
    <H1>View Bookings</H1>
    <table>
        <thead>
          <tr> 
            <th>Name</th>
            <th>Email Address</th>
            <th>Contact Number</th>
            <th>Date</th>
            <th>Time</th>
            <th>Edit Booking</th>
            <th>Delete Booking</th>
          </tr>
        </thead>
    
        <tbody>
          <% for(var i=0; i < bookingDetails.length; i++) { %>
         <tr>
          <form action="/booking/modify" method="get">
           <td><%= bookingDetails[i].name %></td>
           <td><%= bookingDetails[i].email %></td>
           <td><%= bookingDetails[i].contactNumber %></td>
           <td><%= bookingDetails[i].date %></td>
           <td><%= bookingDetails[i].time %></td>
           <td><button type="submit">Modify Booking</button></td>
           <input type="hidden" name="bookID" value="<%= bookingDetails[i]._id %>">
           
          </form>
         </tr>
      <% } %>
        </tbody>
    
      </table>
<%- include('partials/foot.ejs') %>